.main-container{
    height: 100vh;
}
.first-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    padding: 6px;
    border: 0px solid white;
    background-color: transparent;
    border-radius: 3px;
}
button > img{
    width: 18px;
    height: 17px;
}
button:hover{
    text-decoration: underline;
}
.highlight{
    background-color: #213d77;
    color: white;
}

.second-container{
    height: 680px;
    background-image: url("https://images.financialexpressdigital.com/2023/09/1-267.jpg");
    background-size: cover;
}
img{
    height: 30px;
    width: 30px;
}
.third-container{
    height: 540px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}
.child1-container{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 90px;
}
.child2-container{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
}
.section1 {
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
}
.section1:hover{
    background-color: #6790e3;
    color: white;
    transform: translateY(-5px);
}
.section2{
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
}
.section2:hover{
    background-color: #6790e3;
    color: white;
    transform: translateY(-5px);
}
.item{
    width: 70px;
}
footer{
    padding: 10px;
    background-color: #213d77;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    h1{
        font-size: medium;
    }
    .child1-container{
         flex-wrap: wrap;
        gap: 90px;
       
    }.child2-container{
        flex-wrap: wrap;
        margin-top: 35px;
        gap: 90px;
        
    }
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}